*{
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.border {
    border: 1px solid rgb(232, 46, 25);
}

.container {
    width: 100%;
    height: 100vh;
    font-size: 0;
    display: flex;
    flex-direction: row;
}

.container > section:first-child {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(26, 115, 232, 0.615), rgba(25, 60, 184, 0.648)), url("../../../../assets/auth-bg.svg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > section:last-child {
    width: 50%;
    height: 100%;
    background-color: var(--gray-auth-color);
}

.container > section:first-child > div {
    width: 90%;
    height: 90%;
    font-size: var(--default-font-size);
    color: var(--light-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-wrapper {
    width: 10rem;
    height: 3rem;
    display: block;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}

.logo-icon-auth {
    width: 36px;
    height: 36px;
    background-color: #FFFFFF33;
    border-radius: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.logo-icon-auth > p:first-child {
    position: relative;
    text-align: center;
    bottom: 4px;
}

.description-auth {
    width: 43%;
    height: 20rem;
}

.description-auth > h1 {
    width: 100%;
    font-size: 32px;
}

.description-auth > p {
    color: #FFFFFFB2;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.description-auth > div {
    width: 100%;
    position: relative;
    top: 10px;
}

.description-auth > div > section {
    display: inline-block;
    vertical-align: top;
    width: 5rem;
    font-size: var(--small-font-size);
    color:#FFFFFFB2;
}

.description-auth > div > section:not(:last-child) {
    margin-right: 10px;
}

.description-auth > div > section > h3 {
    font-size: 20px;
    color: var(--light-font);
    margin: 0;
}

.description-auth > div > section > p {
    margin: 0;
    position: relative;
    top: 4px;
}

.footer {
    display: block;
    font-size: var(--small-font-size);
    color:#FFFFFFB2;
}

.container > section:last-child > div {
    width: 60%;
    height: 36rem;
    margin: 6rem auto;
}

.form-header {
    font-size: 16px;
    height: 12rem;
}

.form-header > h1 {
    margin: 0;
    font-size: 24px;
}

.form-header > p {
    margin: 0;
    position: relative;
    top: 10px;
    color: var(--gray-color);
}

.form-header > p > a {
    text-decoration: none;
    color: var(--main-color);
}

.button-wrapper {
    height: 4rem;
    position: relative;
    top: 2.5rem;
}

.login-google,
.login-facebook {
    border: 1px solid rgb(192, 192, 192);
    width: 219px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 12px;
}

.login-facebook {
    float: right;
}

.login-google > p, 
.login-facebook > p {
    color: var(--gray-color);
    text-align: center;
    position: relative;
    bottom: 3px;
}


.login-google:hover,
.login-facebook:hover {
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(216, 216, 216);
}

.foot-end {
    font-size: var(--small-font-size);
    height: 2rem;
    position: relative;
    top: 40px;
    width: 100%;
}

.foot-end span {
    display: inline-block;
    vertical-align: middle;
    width: 30.9%;
    border-top:1px solid rgb(201, 200, 200);
}

.foot-end p {
    padding: 0 10px 0 10px;
    color: var(--gray-color);
    display: inline-block;
    vertical-align: middle;
}

.form-actions {
    font-size: var(--default-font-size);
    width: 100%;
    margin-top: 1rem;
}

.login-form > div > section > input {
    width: 100%;
    border-radius: 12px;
    position: relative;
    top: 5px;
    height: 46px;
    padding-left: 40px;
    background-color: #F3F4F6;
    border:1px solid rgb(201, 200, 200);
}

.login-form > div:last-child > section > input {
    padding-right: 42px;
}

.login-form > div > section {
    position: relative;
}

.email-auth-icon {
    position: absolute;
    z-index: 2;
    top: 19px;
    left: 12px;
}

.pass-watch-auth-icon {
    position: absolute;
    z-index: 2;
    top: 19px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    left: 91.2%;
}

.pass-header {
    margin-top: 1.6rem;
}

.pass-header > label {
    display: inline-block;
    vertical-align: middle;
}

.pass-header > a {
    float: right;
    vertical-align: middle;
    font-size: var(--small-font-size);
    text-decoration: none;
    color: var(--main-color);
}

.remember-me {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--gray-color);
    font: var(--small-font-size);
}

.remember-me > input {
    position: relative;
    top: 1.5px;
}

.submit-btn {
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: var(--main-color);
    height: 52px;
    color: var(--light-font);
    font-size: 16px;
    cursor: pointer;
}

.submit-btn > img {
    position: relative;
    top: 2px;
    right: 2px;
}

.submit-btn > img,
.submit-btn > p {
    display: inline-block;
}

.submit-btn:hover {
    background-color: #1a73e8e5;
}

.submit-btn::after {
    background-color: #1a73e8ad;
}

.form-footer {
    margin-top: 1rem;
    height: 5rem;
}

.form-footer > p {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--gray-color);
}

.form-footer > p:nth-child(2) {
    margin-top: 1.5rem;
    width: 99%;
}

.form-footer > p:nth-child(2) > a {
    text-decoration: none;
    color: var(--main-color);
}

@media (max-width: 800px) {
    .container > section:first-of-type {
        display: none;
    }

    .container > section:last-of-type {
        width: 100%;
    }

    .container > section:last-of-type > div {
        width: 80%;
    }

    .button-wrapper {
        height: 6rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .button-wrapper > a {
        text-decoration: none;
    }

    main {
        margin-top: 2rem;
    }

    .login-google > p, .login-facebook > p {
        bottom: 0;
    }

    .login-facebook, .login-google {
        float: none;
        display: flex;
        height: 2.8rem;
        justify-content: center;
        align-items: center;
        font-size: var(--small-font-size);
        width: 100%;
    }
        .foot-end {
        display: flex;
        align-items: center;
        height: 2.5rem;
        justify-content: space-between;
    }

    .foot-end > span {
        width: 20%;
    }
}
