/* Utills */
:root{
    --default-color:rgb(37, 37, 37);
    --light-font: #fff;
    --default-font-size:14px;
    --small-font-size:12px;
    --main-color:#1A73E8;
    --gray-font-color:#99A1AF;
    --red-color:#DC2626;
    --default-title-font-weight:400;
    --gray-color:#6B7280;
    --dark-blue-color:#111827;
    --container-wrapper:1248px;
    --cat-title:20px;
    --bg-color:#F8F9FA;
    --cat-weight:500;
    --star-color:#FFBA00
}

.nav-info-wrapper {
    width: 100%;
}

.nav-info {
    height: 2rem;
    justify-self: center;
    padding: 0px 2rem 0px 2rem;
    color: var(--light-font);
    width: var(--container-wrapper);
}

.nav-info-maps {
    display: inline-block;
    align-self: center;
    width: 45%;
    font-size: var(--small-font-size);
    position: relative;
    top: -3px;
}

.nav-info-contacs {
    position: relative;
    float: inline-end;
    vertical-align: top;
    width: 30%;
    top: -6px;
    font-size: var(--small-font-size);
}

.nav-info-contacs-promo {
    position: relative;
    float: inline-end;
}

.nav-actions-wrapper {
    border-bottom: 1px solid rgb(192, 192, 192);
    height: 64px;
    background-color: white;
}

.nav-actions {
    width: var(--container-wrapper);
    height: 100%;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 0;
}

.nav-actions-info {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 8rem;
    font-size: 14px;
    height: 100%;
}

.logo-icon {
    width: 32px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 15px;
    height: 32px;
    background-color: var(--main-color);
}

.logo-icon-text {
    text-align: center;
    line-height: 3px;
    color:var(--light-font);
}

.logo {
    text-align: center;
    display: inline-block;
    position: relative;
    color:var(--dark-font);
}

.nav-actions-search {
    display: inline-block;
    height: 100%;
    width: 36rem;
}

.nav-actions-search-column {
    height: 4rem;
    line-height: 4rem;
}

.nav-actions-search-column > input {
    height: 2.5rem; 
    border-radius: 10px;
    padding-left: 15px;
    width: 32.3rem;
    background-color: #ececec;
    border: 1px solid #c3c3c3;
}

.nav-actions-menu {
    height: 100%;
    width: 10rem;
    display: inline-block;
    box-sizing: border-box;
    line-height: 4.6rem;
    vertical-align: top;
}

.nav-actions-menu-notif {
    height: 4rem;
    width: 40px;
}

.nav-actions-menu-notif > a {
    width: 4rem;
    height: 100%;
    justify-self: center;
    position: relative;
    left: 7px;
}

.notif-actions-menu-profile {
    width: 3rem;
    height: 4rem;
}

.nav-actions-menu-profile-person {
    width: 78px;
    vertical-align: top;
    height: 4rem;
    line-height: 4rem;
    display: inline-block;
    text-decoration: none;
    color: var(--dark-font);
}

.nav-actions-menu-profile-person > img {
    position: relative;
    top: 1.3rem;
}

.nav-actions-menu-fav {
    width: 40px;
}

.nav-actions-menu-cart {
    width: 40px;
    height: 40px;
    position: relative;
    top : 9px
}

.nav-category-wrapper {
    height: 41px;
    background-color: white;
}

.nav-category {
    width: 1248px;
    justify-self: center;
    line-height: 42px;
    height: 42px;
}

.nav-category-menu {
    line-height: 41px;
    width: calc(100% / 8);
    height: 41px;
}

.nav-category-menu > img, .nav-category-menu > select {
    position: relative;
    color:var(--default-font);
    top: 10px;
}

.nav-category-menu > img {
    margin-left: 15px;
}

.nav-category-menu-box {
    position: relative;
    padding: 0px 15px 0px 15px;
    vertical-align: top;
    text-decoration: none;
    line-height: 2.5rem;
    height: 100%;
    color: var(--default-color);
    font-size: 14px;
}

.herro {
    height: 420px;
    margin-top: 10px;
    width: 100%;
    background-color: aliceblue;
}

.herro-slider {
  width: 100%;
  height: 420px;
  font-size: 0;
}

.herro-slider-first {
    height: 100%;
    background-color: #4F39F6;
    vertical-align: top;
    width: 50%;
    display: inline-block;
}

.herro-slider-first-desc {
    width: 622px;
    height: 100%;
    margin-left: auto;
}

.herro-slider-first-desc > div {
    width: 412px;
    position: relative;
    top: 20%;
    color: var(--light-font);
}

.herro-slider-first-desc > div > h1 {
    font-size: 30px;
}

.herro-slider-first-desc > div > p {
    font-weight: 300;
    font-size: 16px;
}

.herro-slider-first-desc > div > button {
    background-color: white;
    border-radius: 10px;
    height: 48px;
    line-height: 47px;
    font-size: 16px;
    border: none;
    width: 163px;
    color: var(--main-color);
}

.herro-slider-first-desc > div > button > img {
    top: 3px;
    margin-left: 4px;
    position: relative;;
}

.herro-slider-second {
    vertical-align: top;
    height: 100%;
    width: 50%;
    background-color: #8200DB;
    margin-left: auto;
    background-image: linear-gradient(to right, rgba(79, 57, 246, 0.326), rgba(131, 0, 219, 0.342)), url("./assets/banner-bg.png");
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.suggest-category {
    height: 192px;
    margin-top: 3rem;
    justify-self: center;
    width: 100%;
}

.suggest-category > div > p {
    font-size: var(--cat-title);
    font-weight: var(--cat-weight);
    display: inline-block;
    margin: 0;
    height: 30px;
}

.suggest-category > div:first-child {
   overflow: hidden;
}

.suggest-category > div:first-child > a {
    width: 105px;
    float: right;
    color: var(--main-color);
    font-size: 14px;
    text-decoration: none;
}

.suggest-category > div > a > span {
    text-decoration: none;
    margin-right: 3px;
    vertical-align: middle;
}

.suggest-category > div > a > img {
    position: relative;
    vertical-align: middle;
} 

.suggest-category-cards-wrapper {
    width: 100%;
    height: 138px;
    position: relative;
    top: 25px;
    font-size:0;
}

.suggest-category-card {
    width: calc(1170px/6);
    height: 100%;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    border-radius: 12px;
}

.suggest-category-card:not(:last-child){
    margin-right: 13.6px;
}

.suggest-category-card img {
    width: 56px;
    margin: 13px auto;
    display: block;
    height: 56px;
    border-radius: 5px;
}

.suggest-category-card p {
    text-align: center;
    line-height: 10px;
    display: block;
    color: var(--dark-font);
    font-size: var(--small-font-size);
}

.suggest-category-card > p:nth-child(3) {
    color: var(--gray-color);
}



