/* Utills */
:root{
    --default-color:rgb(37, 37, 37);
    --light-font: #fff;
    --default-font-size:14px;
    --small-font-size:12px;
    --main-color:#1A73E8;
    --main-color-dim:#3684e9;
    --gray-font-color:#99A1AF;
    --blue-bg-color:#1A73E81A;
    --blue-dim-color:#99A1AF;
    --deep-blue-color:#111827;
    --gray-border-color:#0000001A;
    --red-color:#DC2626;
    --orange-color:#F97316;
    --orange-color-dim:#f38639;
    --orange-bg-color:#FFF7ED;
    --green-bg-color:#F0FDF4;
    --purple-bg-color:#FAF5FF;
    --gray-auth-color:#f9f9f9;
    --blue-dim-border-color:#364153;
    --green-color:#00A63E;
    --green-success-color:#00C950;
    --green-success-bg-color:#DCFCE7;
    --default-title-font-weight:400;
    --gray-color:#6B7280;
    --dark-blue-color:#111827;
    --medium-border-radius:16px;
    --small-border-radius:8px;
    --container-wrapper:1248px;
    --cat-title:20px;
    --bg-color:#F8F9FA;
    --cat-weight:500;
    --star-color:#FFBA00;
}

.border {
    border: 1px solid salmon;
}

.inblock-display {
    display: inline-block;
    vertical-align: top;
}

.blue-color {
    color: var(--main-color);
}

.bg-blue {
    background-color: var(--main-color);
}

.bg-success {
    background-color: var(--green-success-color);
}

.button-submit > img {
    position: relative;
    top: 2px;
}

.button-submit:hover {
    background-color: #1a73e8e0;
}

.bg-light-blue {
    background-color: var(--blue-bg-color);
}

.white-color {
    color: white;
}

.top-10px {
    position: relative;
    top: 10px;
}

.green-color {
    color: var(--green-color);
}

.orange-bg-color {
    background-color: var(--orange-bg-color);
}

.green-bg-color {
    background-color: var(--green-bg-color);
}

.purple-bg-color {
    background-color: var(--purple-bg-color);
}