
.container-prod-detail {
    margin-top: 164px;
    width: 90%;
    justify-self: center;
    height: 50rem;
}

.container-prod-detail > .breadcrum {
    display: block;
    font-size: 0;
    height: 2.7rem;
}

.arrow-bc {
    top: 2px;
    position: relative;
} 

.breadcrum > a, .breadcrum > span {
    font-size: var(--default-font-size);
    color: var(--gray-color);
    text-decoration: none;
}

.breadcrum > a:not(:last-child), span {
    margin-right: 10px;
}

.breadcrum > a:last-child {
    color: var(--default-color);
}

.prod-content {
    width: 90%;
    justify-self: center;
    min-height: 695px;
    font-size: 0;
}

.prod-content-image,
.prod-content-desc {
    width: 49.8%;
    height: 100%;
    font-size: var(--default-font-size);
    display: inline-block;
    vertical-align: top;
}

.prod-content-image > div {
    width: 100%;
    margin-top: 7px;
}

.prod-content-image > img {
    border-radius: 15px;
}

.prod-content-image > div > img {
    display: inline-block;
    border: 2px solid var(--main-color);
    vertical-align: top;
    border-radius: 8px;
    margin-right: 5px;
}

.prod-content-image > div > img:last-child {
     border: 2px solid #0000001A;
}

.prod-content-desc {
    font-size: var(--default-font-size);
}

.prod-content-desc > div:first-child {
    width: 90%;
    position: relative;
    left: 30px;
    color: var(--gray-color);
    margin: 0;
    height: 6.5rem;
}

.prod-content-desc > div:nth-child(2) {
    height: 98px;
    background-color: #EFF6FF;
    width: 90%;
    margin-top: -18px;
    position: relative;
    left: 30px;
    vertical-align: middle;
    box-sizing: border-box;
    padding-left: 20px;
    border-radius: 12px;
    color: var(--main-color);
}

.prod-content-desc > div:nth-child(3) {
    box-sizing: border-box;
    width: 90%;
    height: 6rem;
    position: relative;
    left: 30px;
    color: var(--default-color);
    padding-top: 20px;
}

.prod-content-desc > div:nth-child(3) > p > span {
    color: var(--main-color);
}

.prod-content-desc > div:nth-child(3) > .color-picker {
    position: relative;
    top: 10px;
}

.color-picker > button {
    font-weight: 500;
    padding: 8px 13px;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
    color: var(--gray-color);
    border: 1px solid #0000001A;
}

.prod-content-desc > div:nth-child(4) {
    box-sizing: border-box;
    width: 90%;
    position: relative;
    left: 30px;
    height: 6rem;
    color: var(--default-color);
    padding-top: 20px;
}

.prod-content-desc > .quantity > div > div {
    position: relative;
    top: 10px;
    border: 1px solid #0000001A;
    width:146px;
    box-sizing: border-box;
    height: 38px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    border-radius: 12px;
    font-size: 0;
}

.prod-content-desc > .quantity > div {
    width: 25rem;
    white-space: nowrap;
}

.quantity > div > div > button {
    height: 100%;
    width: 30%;
    vertical-align: top;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.quantity > div > p {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    color: #6B7280;
    top: 6px;
    left: 10px;
}

.quantity > div > div > button > img {
    position: relative;
    top: 1px;
}

.quantity > div > div > span {
    text-align: center;
    height: 38px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    font-size: 16px;
    color: var(--default-color);
}

.quantity > div > div > button:last-child {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
}

.color-picker > button:hover {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.color-picker > button:not(:last-child) {
    margin-right: 5px;
}

.prod-content-desc > div:nth-child(2) > h1 {
    height: fit-content;
    vertical-align: middle;
    position: relative;
    top: 20px;
    border-radius: 12px;
    color: var(--main-color);
}

.prod-content-desc > div:nth-child(2) > p {
    color: #00A63E;
    position: relative;
    top: 10px;
    font-size: var(--default-font-size);
}

.prod-content-desc > div:nth-child(2) > h1 > span:nth-child(1) {
    position: relative;
    vertical-align: middle;
    left: 5px;
    font-size: 18px;
}

.prod-content-desc > div:nth-child(2) > h1 > span:nth-child(2) {
    padding: 5px 10px;
    color: var(--light-font);
    position: relative;
    left: 10px;
    border-radius: 16px;
    font-size: var(--default-font-size);
    background-color: #DC2626;
    vertical-align: middle;
}

.prod-content-desc > div > p {
    margin: 0;
}

.prod-content-desc > div > h2 {
    margin: 0;
    color: var(--default-color);
    position: relative;
    top: 10px;
}

.rating {
    margin: 0;
    position: relative;
    top: 8px;
    display: inline-block;
    vertical-align: top;
}

.stock {
    display: inline-block;
    padding: 5px;
    position: relative;
    top: 18px;
    left: 15px;
    font-size: var(--small-font-size);
    vertical-align:top;
    background-color: #F0FDF4;
    color: #00A63E;
}

.stock > img {
    position: relative;
    top: 2px;
}

.m-gap:not(:last-child) {
    margin-top: 15px;
    margin-right: -2px;
}

.rating > span:nth-child(6) {
    margin-left: 5px;
}

.button-actions, 
.form-footer-blocks {
    box-sizing: border-box;
    padding-top: 20px;
    width: 100%;
}

.button-actions > div,
.form-footer-blocks > div {
    width: 100%;
    position: relative;
    left: 30px;
}

.button-actions > div > button {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.form-footer-blocks > div > div {
    width: 183px;
    height: 72px;
    border-radius: 8px;
    background-color: #E5E7EB80;
    text-align: center;
    display: inline-block;
}

.form-footer-blocks > div > div:not(:last-child) {
    margin-right: 15px;
}

.form-footer-blocks > div > div > img {
    position: relative;
    top: 11px;
}

.form-footer-blocks > div > div > p {
    font-size: var(--small-font-size);
    margin: 0;
    position: relative;
    top: 12px;
}

.form-footer-blocks > div > div > p:last-child {
    position: relative;
    color: #6B7280;
    top: 14px;
}

.button-actions > div > button:first-child {
    width: 263px;
    height: 56px;
    border-radius: 12px;
    padding-bottom: 5px;
    color: var(--orange-color);
    font-size: 16px;
    border: 2px solid var(--orange-color);
    background-color: transparent;
}

.button-actions > div > button:nth-child(2){
    width: 259px;
    height: 56px;
    border-radius: 12px;
    color: var(--orange-color);
    font-size: 16px;
    margin-left: 7px;
    margin-right: 7px;
    color: var(--light-font);
    border: 2px solid var(--orange-color);
    background-color: var(--orange-color);
}

.button-actions > div > button:nth-child(3){
    width: 48px;
    height: 56px;
    border-radius: 12px;
    color: var(--orange-color);
    font-size: 16px;
    box-sizing: border-box;
    padding-top: 5px;
    color: var(--light-font);
    border: 2px solid #0000001A;
    background-color: transparent;
}

.button-actions > div > button:first-child > img {
    position: relative;
    top: 3px;
    right: 5px;
}

.container-prod-desc {
    margin: 0 auto;
    width: var(--container-wrapper);
    height: fit-content;
}

.container-prod-desc > section:first-child {
    width: 100%;
    box-sizing: border-box;
    vertical-align: top;
    background-color: white;
    border-radius: 12px;
    min-height: 131px;
}

.container-prod-desc > section:first-child > div {
    width: 100%;
    min-height: 131px;
    color: #6B7280;
}

.container-prod-desc > section:first-child > div > .header-nav {
    height: 55px;
    border-bottom: 1px solid #0000001A;
    width: 100%;
}

.header-nav > button {
    width: 111px;
    cursor: pointer;
    color: #6B7280;
    font-size: var(--default-font-size);
    height: 100%;
    background-color: transparent;
    border: none;
}

.header-nav > button:first-child {
    border-bottom: 3px solid var(--main-color);
}

.header-nav > button:hover {
    border-bottom: 3px solid var(--main-color);
}

.content {
    height: fit-content;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px 25px;
    width: 100%;
}

.new-products {
    width: 100%;
    margin-top: 3rem;
    height: fit-content;
    margin-bottom: 5rem;
}

.new-products > div:first-child {
   overflow: hidden;
   height: 3rem;
}

.new-products-info {
    width: fit-content;
    vertical-align: bottom;
    padding: 0 5px 0 0px;
    height: 20px;
    font-size: 20px;
    font-weight: var(--default-font-size);
    border-radius: 8px;
    display: inline-block;
    line-height: 35px;
    color: var(--light-font);
}

.new-products-info > img
{
    vertical-align: middle;
    color: var(--light-font);
    font-size: 14px;
}

.new-products-info > span {
    position: relative;
     font-size: 20px;
    color: black;
    font-weight: 500;
    left: 3px;
}

.new-products > div:first-child > a  {
    width: 105px;
    float: right;
    position: relative;
    top: 7px;
    color: var(--main-color);
    font-size: 14px;
    text-decoration: none;
}

.new-products > div:first-child > a > span {
    color: var(--main-color);
}

.new-products > div > a > span {
    text-decoration: none;
    margin-right: 3px;
    vertical-align: middle;
}

.new-products > div > a > img {
    position: relative;
    vertical-align: middle;
} 

.new-products-cards-wrapper {
    box-sizing: border-box;
    height: 434px;
    margin: 0;
    font-size: 0;
    width: 100%;
}

.new-products-card {
    width: 298px;
    border-radius: 12px;
    height: 424px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
}

.new-products-card-cut {
    position: absolute;
    font-size: var(--small-font-size);
    overflow: visible;
    background-color:var(--red-color);
    margin: 5px 0 0 5px;
    border-radius: 15px;
    width: fit-content;
    z-index: 5;
    height: 24px;
}

.new-products-card-new {
    position: absolute;
    font-size: var(--small-font-size);
    overflow: visible;
    background-color: var(--main-color);
    margin: 5px 0 0 5px;
    border-radius: 15px;
    width: fit-content;
    color: var(--light-font);
    z-index: 5;
    height: 24px;
}

.new-products-card-cut > span,
.new-products-card-new > span {
    color: white;
    position: relative;
    font-size: var(--small-font-size);
    font-weight: 300;
    top: 4px;
    padding: 4px 9px 4px 9px;
    margin: 0 auto;
}

.new-products-card > div:first-child {
    height: 295px;
    overflow: hidden;
}

.new-products-card > div:first-child > img {
    display: block;
}

.new-products-card-desc {
    font-size: var(--default-font-size);
    padding-left: 1rem;
    height: 120px;
    vertical-align: top;
    margin: 0;
    padding-top: 22px;
    line-height: 18px;
    width: 100%;
}

.new-products-card-desc > h4 {
    color: var(--dark-font);
    font-weight: 600;
    position: relative;
    bottom: 7px;
} 

.fa-star {
    color: rgb(199, 199, 199);
}
.checked {
    color: var(--star-color);
}

.new-products-card-price {
    color: var(--main-color);
    position: relative;
    line-height: 13px;
    font-size: 16px;
    font-weight: 600;
    top: 2px;
}

.new-products-card-price > span {
    font-size: var(--small-font-size);
    position: relative;
    left: 10px;
}

.new-products-card-desc p:first-child {
    font-size: var(--small-font-size);
    position: relative;
    bottom: 12px;
}

.new-products-card-desc p , h4, span {
    font-weight: 400;
    color: var(--gray-color);
    margin: 0;
}

.new-products-card:not(:nth-child(4)) {
    margin-right: 16px;
}

.new-products-card:nth-child(5),
.new-products-card:nth-child(6) {
    margin-right: 16px;
}

.footer-note-copyright {
    font-size: 12px;
}


@media (max-width: 800px) {
    .container-prod-detail {
        margin-top: 124px;
        width: 90%;
        box-sizing: border-box  ;
        justify-self: center;
        height: fit-content;
        font-size: var(--small-font-size);
    }

    .container-prod-detail > .breadcrum {
        display: block;
        font-size: 0;
        height: 4rem;
    }
    .prod-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
        box-sizing: border-box;
        height: fit-content;
    }

    .prod-content > .prod-content-image {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .prod-content-image > img:first-of-type {
        width: 100%;
    }

    .prod-content-desc {
        width: 100%;
        padding-left: 0;
    }

    .prod-content-desc > div:first-child,
    .prod-content-desc > div:nth-child(2),
    .prod-content-desc > div:nth-child(3),
    .prod-content-desc > div:nth-child(4) {
        position: relative;
        left: 0;
    }
    .prod-content-desc > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 8rem;
        gap: 20px;
        width: 100%;
        margin-top: 5px;
    }

    .prod-content-desc > div:nth-child(2) > h1 {
        font-size: 16px;
    }

    .prod-content-desc > div:nth-child(2) > h1 > span:last-child {
        display: block;
        position: relative;
        left: 0;
        top: 10px;
        font-size: var(--small-font-size);
        margin-bottom: 5px;
        width: fit-content;
        flex-wrap: wrap;
    }

    .prod-content-desc > div:nth-child(2) > h1 {
        font-size: 18px;
    }

    .prod-content-desc > div:nth-child(2) > h1 > span :first-child{
        font-size: var(--small-font-size);
        position: relative;
        bottom: 5px;
    }

     .prod-content-desc > div:nth-child(2) > h1, p {
        margin: 0;
     }

     .prod-content-desc > div:nth-child(2) > p {
        margin-top: 7px;
     }

    .button-actions {
        position: fixed;
        bottom: 10px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        z-index: 100;
    }

    .button-actions > div {
        width: 90%;
        height: 100%;
        display: grid;
        justify-self: center;
        left: 0;
        justify-content: space-between;
        grid-template-columns: 35% 43% 15%;
    }

    .button-actions > div > button:first-child {
        width: 100%;
    }

    .button-actions > div > button:nth-child(2) {
        width: 100%;
        margin: 0;
    }

    .button-actions > div > button:last-child {
        width: 100%;
    }

    .quantity {
        width: 100%;
        display: flex;
        height: fit-content;
        flex-direction: column;
        box-sizing: border-box;
    }

    .prod-content-desc > .quantity > div {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 100%;
        align-items: center;
    }

    .form-footer-blocks > div {
        display: flex;
        flex-direction: column;
        left: 0;
        gap: 10px;
    }

    .form-footer-blocks > div > div {
        width: 100%;
    }
}