

.container-checkout {
    margin: 0 auto;
    width: var(--container-wrapper);
    height: 68rem;
    margin-top: 11rem;
}

.checkout-journey {
    height: 4rem;
    width: fit-content;
    margin: 2rem auto;
    font-size: 0;
}

.checkout-journey-delivery,
.checkout-journey-pay,
.checkout-journey-confirm {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    width: 5rem;
    height: 70px;
    color: var(--gray-color);
    box-sizing: border-box;
}

.checkout-journey-delivery > div,
.checkout-journey-pay > div,
.checkout-journey-confirm > div {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #E5E7EB;
    text-align: center;
    font-size: var(--default-font-size);
    color: var(--dark-font);
    box-sizing: border-box;
    padding-top: 12px;
}

.checkout-journey-delivery > div {
    background-color: var(--main-color);
    color: var(--light-font);
}

.checkout-journey-delivery > p,
.checkout-journey-pay > p,
.checkout-journey-confirm > p {
    margin: 0;
    text-align: center;
    position: relative;
    top: 7px;
}

.checkout-journey-line {
    border-top: 3px solid var(--gray-border-color) ;
    width: 160px;
    height: fit-content;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 10px;
}

.checkout-action-form {
    width: 1140px;
    height: 57rem;
    margin: 0 auto;
    font-size: 0;
}

.checkout-action-form > section:first-child {
    width: 730px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: var(--default-font-size);
    border: 1px solid var(--gray-border-color);
}

.checkout-action-form > section:last-child {
    height: 225px;
    top: 9rem;
    width: 320px;
    position: sticky;
    background-color: white;
    border-radius: 12px;
    border: 1px solid var(--gray-border-color);
    padding: 30px 25px;
    float: right;
    vertical-align: top;
} 

.checkout-action-form-implement > div {
    margin-bottom: 15px;
}

.checkout-action-form-implement-double {
    font-size: 0;
    width: 100%;
    color: var(--gray-color);
}

.checkout-action-form-implement-single {
    color: var(--gray-color);
}

.input-box-sizing {
    width: 330px;
    height: 46px;
    border-radius: 12px;
    background-color: #F3F4F6;
    margin-top: 8px;
    box-sizing: border-box;
    font-weight: var(--cat-weight);
    padding: 0px 10px 0px 20px;
    border: 1px solid #0000001A;
}

.input-box-sizing-long {
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background-color: #F3F4F6;
    margin-top: 8px;
    box-sizing: border-box;
    font-weight: var(--cat-weight);
    padding: 0px 10px 0px 20px;
    border: 1px solid #0000001A;
}

.checkout-action-form-implement-double > div,
.checkout-action-form-implement-single > div {
    font-size: var(--default-font-size);
    font-weight: var(--cat-weight);
}

.checkout-action-form-implement-double > div:first-child {
    display: inline-block;
    vertical-align: top;
}

.checkout-action-form-implement-double > div:last-child {
    float: right;
    vertical-align: top;
}

.checkout-action-form-implement > h2 {
    font-size: var(--cat-title);
    font-weight: 500;
    margin-bottom: 2rem;
}

.checkout-action-form-implement > h2 > span > img {
    position: relative;
    top: 2px;
}

.container-cart-action-struct {
    padding-top: 15px;
    border-top: 1px solid var(--gray-border-color);
}

.container-cart-action-prod {
    margin-top: 1.2rem;
    height: fit-content;
    margin-bottom: 1.2rem;
}

.container-cart-action-prod > img {
    border-radius: 12px;
}

.container-cart-action-prod > div {
    height: 45px;
    font-size: var(--small-font-size);
    width: 265px;
    float: right;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 0px;
}

.container-cart-action-prod > div > p:first-child {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: var(--gray-color);
    top: 4px;
}

.container-cart-action-prod > div  > p:last-child {
    float: right;
    vertical-align: middle;
    position: relative;
    top: 4px;
}

.container-cart-action-total > h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.container-cart-action-struct > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--gray-color);
    font-size: var(--default-font-size);
}

.container-cart-action-struct > ul:nth-child(2) {
    border-bottom: 1px solid #0000001A;
    box-sizing: border-box;
    padding-bottom: 10px;   
}

.container-cart-action-struct > ul:nth-child(2) > li > span:first-child {
    color: var(--green-color);
}

.container-cart-action-struct > ul:not(:last-child) {
    margin-bottom: 10px;
}

.container-cart-action-struct > ul:last-child > li > span:first-child {
    color: var(--default-color);
}

.container-cart-action-struct > ul:last-child > li:last-child > span:last-child {
    color: var(--main-color);
    font-weight: 700;
}

.container-cart-action-struct > ul > li:first-child {
    display: inline-block;
    vertical-align: bottom;
}

.container-cart-action-struct > ul > li:last-child {
    float: right;
    vertical-align: bottom;
}

.container-cart-action-total > p  {
    font-size: var(--small-font-size);
    text-align: center;
    position: relative;
    color: var(--gray-color);
    top: 5px;
}

.checkout-action-form-delivery {
    margin-top: 2rem;
}
.checkout-action-form-delivery > h2 {
    font-size: 18px;
    font-weight: var(--cat-weight);
}


.checkout-action-form-delivery-option {
    height: fit-content;
    width: 100%;
    font-size: 0;
}

.checkout-action-form-delivery-option > label:not(:last-child) {
    margin-bottom: 20px;
}

.checkout-action-form-delivery-option > label > div > input {
    display: inline-block;
    vertical-align: middle;
    margin: 25px 0px;
    z-index: 4;
}

.checkout-action-form-delivery-option > label > div {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.checkout-action-form-delivery-option > label > div > h3 {
    font-size: 14px;
    font-weight: var(--cat-weight);
    float: right;
    margin: 4% 3% 0px 0px;
    color: var(--green-color);
}

.checkout-action-form-delivery-option > label > div {
    position: relative;
    font-size: var(--default-font-size);
    margin-bottom: 10px;
}

.checkout-action-form-delivery-option > label > div > input {
    position: absolute;
    top: 4%;
    left: 2.5%;
}

.checkout-action-form-delivery-option > label > div {
    box-sizing: border-box;
    padding-left: 6%;
    width: 100%;
    height: 72px;
    border: 3px solid var(--gray-border-color);
    border-radius: 12px;
}   

.checkout-action-form-delivery-option > label > div > div > h3 {
    font-weight: var(--cat-weight);
    color: var(--default-color);
}


.checkout-action-form-delivery-option > label > div > div {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    color: var(--gray-color);
    height: 100%;
    font-weight: var(--cat-weight);
    padding-top: 8px;
    font-size: var(--small-font-size);
    line-height: 6px;
}

input[type="radio"]:checked + .input-wrapper {
     border: 3px solid var(--main-color);
     background-color: yellow;
}

.checkout-action-form-btn {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-font);
    background-color: var(--main-color);
    border-radius: 12px;
    height: 52px;
    border: none;
    cursor: pointer;
}

.checkout-action-form-btn > span > img {
    position: relative;
    top: 2px;
    left: 5px;
}

.checkout-action-form-btn:hover {
    background-color: var(--main-color-dim);
}