.nav-info-wrapper {
    width: 100%;
}

.nav-info {
    height: 2rem;
    justify-self: center;
    padding: 0px 2rem 0px 2rem;
    color: var(--light-font);
    width: var(--container-wrapper);
}

.nav-info-maps {
    display: inline-block;
    align-self: center;
    width: 45%;
    font-size: var(--small-font-size);
    position: relative;
    top: -3px;
}

.nav-info-contacs {
    position: relative;
    float: inline-end;
    vertical-align: top;
    width: 30%;
    top: -6px;
    font-size: var(--small-font-size);
}

.nav-info-contacs-promo {
    position: relative;
    float: inline-end;
}

.nav-actions-wrapper {
    border-bottom: 1px solid rgb(192, 192, 192);
    height: 64px;
    background-color: white;
}

.nav-actions {
    width: var(--container-wrapper);
    height: 100%;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 0;
}

.nav-actions-info {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 8rem;
    font-size: 14px;
    height: 100%;
}

.logo-icon {
    width: 32px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 15px;
    height: 32px;
    background-color: var(--main-color);
}

.logo-icon-text {
    text-align: center;
    line-height: 3px;
    color:var(--light-font);
}

.logo {
    text-align: center;
    display: inline-block;
    position: relative;
    color:var(--dark-font);
}

.nav-actions-search {
    display: inline-block;
    height: 100%;
    width: 36rem;
}

.nav-actions-search-column {
    height: 4rem;
    line-height: 4rem;
}

.nav-actions-search-column > input {
    height: 2.5rem; 
    border-radius: 10px;
    padding-left: 15px;
    width: 32.3rem;
    background-color: #ececec;
    border: 1px solid #c3c3c3;
}

.nav-actions-menu {
    height: 100%;
    width: 10rem;
    display: inline-block;
    box-sizing: border-box;
    line-height: 4.6rem;
    vertical-align: top;
}

.nav-actions-menu-notif {
    height: 4rem;
    width: 40px;
}

.nav-actions-menu-notif > a {
    width: 4rem;
    height: 100%;
    justify-self: center;
    position: relative;
    left: 7px;
}

.notif-actions-menu-profile {
    width: 3rem;
    height: 4rem;
}

.nav-actions-menu-profile-person {
    width: 78px;
    vertical-align: top;
    height: 4rem;
    line-height: 4rem;
    display: inline-block;
    text-decoration: none;
    color: var(--dark-font);
}

.nav-actions-menu-profile-person > img {
    position: relative;
    top: 1.3rem;
}

.nav-actions-menu-fav {
    width: 40px;
}

.nav-actions-menu-cart {
    width: 40px;
    height: 40px;
    position: relative;
    top : 9px
}

.nav-category-wrapper {
    height: 41px;
    background-color: white;
}

.nav-category {
    width: 1248px;
    justify-self: center;
    line-height: 42px;
    height: 42px;
}

.nav-category-menu {
    line-height: 41px;
    width: calc(100% / 8);
    height: 41px;
}

.nav-category-menu > img, .nav-category-menu > select {
    position: relative;
    color:var(--default-font);
    top: 10px;
}

.nav-category-menu > img {
    margin-left: 15px;
}

.nav-category-menu-box {
    position: relative;
    padding: 0px 15px 0px 15px;
    vertical-align: top;
    text-decoration: none;
    line-height: 2.5rem;
    height: 100%;
    color: var(--default-color);
    font-size: 14px;
}