.herro {
    height: 420px;
    margin-top: 10px;
    width: 100%;
    background-color: aliceblue;
}

.herro-slider {
  width: 100%;
  height: 420px;
  font-size: 0;
}

.herro-slider-first {
    height: 100%;
    background-color: #4F39F6;
    vertical-align: top;
    width: 50%;
    display: inline-block;
}

.herro-slider-first-desc {
    width: 622px;
    height: 100%;
    margin-left: auto;
}

.herro-slider-first-desc > div {
    width: 412px;
    position: relative;
    top: 20%;
    color: var(--light-font);
}

.herro-slider-first-desc > div > h1 {
    font-size: 30px;
}

.herro-slider-first-desc > div > p {
    font-weight: 300;
    font-size: 16px;
}

.herro-slider-first-desc > div > button {
    background-color: white;
    border-radius: 10px;
    height: 48px;
    line-height: 47px;
    font-size: 16px;
    border: none;
    width: 163px;
    color: var(--main-color);
}

.herro-slider-first-desc > div > button > img {
    top: 3px;
    margin-left: 4px;
    position: relative;;
}

.herro-slider-second {
    vertical-align: top;
    height: 100%;
    width: 50%;
    background-color: #8200DB;
    margin-left: auto;
    background-image: linear-gradient(to right, rgba(79, 57, 246, 0.326), rgba(131, 0, 219, 0.342)), url("../../assets/banner-bg.png");
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.suggest-category {
    height: 192px;
    margin-top: 3rem;
    justify-self: center;
    width: 100%;
}

.suggest-category > div > p {
    font-size: var(--cat-title);
    font-weight: var(--cat-weight);
    display: inline-block;
    margin: 0;
    height: 30px;
}

.suggest-category > div:first-child {
   overflow: hidden;
}

.suggest-category > div:first-child > a {
    width: 105px;
    float: right;
    color: var(--main-color);
    font-size: 14px;
    text-decoration: none;
}

.suggest-category > div > a > span {
    text-decoration: none;
    margin-right: 3px;
    vertical-align: middle;
    color: var(--main-color);
}

.suggest-category > div > a > img {
    position: relative;
    vertical-align: middle;
} 

.suggest-category-cards-wrapper {
    width: 100%;
    height: 138px;
    position: relative;
    top: 25px;
    font-size:0;
}

.suggest-category-card {
    width: calc(1170px/6);
    height: 100%;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    border-radius: 12px;
}

.suggest-category-card:not(:last-child){
    margin-right: 13.6px;
}

.suggest-category-card img {
    width: 56px;
    margin: 13px auto;
    display: block;
    height: 56px;
    border-radius: 5px;
}

.suggest-category-card p {
    text-align: center;
    line-height: 10px;
    display: block;
    color: var(--dark-font);
    font-size: var(--small-font-size);
}

.suggest-category-card > p:nth-child(3) {
    color: var(--gray-color);
}

.info {
    width: 100%;
    margin-top: 3rem;
    height: 176px;
    font-size: 0;
    color: var(--light-font);
}

.info-first {
    display: inline-block;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),  url('../../assets/fashion-sale.svg');
}

.info-second {
    float: right;
    background-image:linear-gradient(to right, rgba(28, 57, 142, 0.8), rgba(28, 57, 142, 0)),  url('../../assets/electronic-sale.svg');
}

.info-first, .info-second{
    width: 616px;
    height: 176px;
    vertical-align: middle;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
}

.info-first-action {
    font-size: var(--default-font-size);
    color: var(--light-font);
    height: 86px;
    line-height: 15px;
    position: relative;
    top: 20%;
    margin-left: 2rem;
    width: 30%;
}

.info-first-action > p {
    font-size: var(--default-font-size);
}

.info-first-action > h4 {
    font-size: 20px;
}

.info-first-action-btn > div, 
.info-first-action-btn-second > div {
    border: 1px solid white;
    text-decoration: none;
    border-radius: 8px;
    color: var(--light-font);
    width: 141px;
    height: 30px;
    margin-top: 20px;
}

.info-first-action-btn-second > div {
    width: 110px;
} 

.info-first-action-btn > div > a {
    text-decoration: none;
}

.info-first-action-btn > div > p{
    text-align: center;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    line-height: 1px;
}

.reason-section {
    height: 243px;
    margin-top: 3rem;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 16px;
}

.reason-section > h3 {
    text-align: center;
    position: relative;
    font-weight: 500;
    top: 25px;
}

.reason-section-cards-wrapper {
    font-size: 0;
    margin: 0 auto;
    width: 93%;
    height: 180px;
}

.reason-section-card {
    width: 277px;
    height: 100%;
    vertical-align: top;
    display: inline-block;
}

.reason-section-card > div {
    padding-top: 2.5rem;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--gray-color);
}


.reason-section-card > div > h5 {
    margin: 10px 0px 10px 0px;
}

.reason-section-card > div > h5 {
    font-size: var(--default-font-size);
    color: rgb(29, 29, 29);
    font-weight: 400;
}

.reason-section-card:not(:last-child) {
    margin-right: 14.8px;
}