body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-self: center;
    height: 100%;
    position: relative;
    background-color: var(--bg-color);
    color: var(--default-color);
}

header {
    display: block;
    width: 100%;
    height: 35rem;
}

main {
    width: var(--container-wrapper);
    justify-self: center;
}

nav {
    display: block;
    height: 134px;
}

footer {
    background-color: var(--dark-blue-color);
    height: 492px;
    width: 100%;
}