.border {
    border: 1px solid salmon;
}

.inblock-display {
    display: inline-block;
    vertical-align: top;
}

.bg-blue {
    background-color: #1A73E8;
}

.button-submit {
    height: 2.5rem;
    width: 3.3rem;
    position: relative;
    top: 2px;
    right: 10px;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: var(--main-color);
}

.button-submit > img {
    position: relative;
    top: 2px;
}

.button-submit:hover {
    background-color: #1a73e8e0;
}